.hero {
    background-image: url('https://picsum.photos/800/600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    width: 100%;

    &__content {
        max-width: 800px;
    }
}